{
  "presets": ["env", "react"],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": ["postcss-nested"]
          }
        },
        "generateScopedName": "[local]___[hash:base64:5]",
        "webpackHotModuleReloading": true
      }
    ]
  ]
}
